*.la
*.lo
*.trs
.deps
.libs
Makefile
Makefile.in
.dirstamp
.gitignore
.clang-format
/.vagrant/
/GPATH
/GRTAGS
/GSYMS
/GTAGS
/Vagrantfile
config.h.in
config.h.in~
/fplll.pc
/libfplll-*/
/src/foo
/src/fplll_config.h
/src/llldiff
/src/stamp-h2
/test-driver
/tests/test_bkz
/tests/test_lll
/tests/test_svp
Makefile
Makefile.in
TAGS
aclocal.m4
autom4te.cache/
compile
config.guess
config.h
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
missing
python/cython_debug
src/fplll
src/fplll_dbg
src/latticegen
stamp-h1
/m4/libtool.m4
/m4/ltoptions.m4
/m4/ltsugar.m4
/m4/ltversion.m4
/m4/lt~obsolete.m4
