*.la
*.lo
*.trs
.deps
.libs
Makefile
Makefile.in
.dirstamp
.gitignore
.clang-format
config.log
/.vagrant/
/GPATH
/GRTAGS
/GSYMS
/GTAGS
/Vagrantfile
config.h.in
config.h.in~
/fplll.pc
/libfplll-*/
/fplll/foo
/fplll/fplll_config.h
/fplll/llldiff
/fplll/stamp-h2
/fplll/*.o
/fplll/enum/*.o
/test-driver
/tests/test_bkz
/tests/test_lll
/tests/test_svp
/tests/*.o
Makefile
Makefile.in
TAGS
aclocal.m4
autom4te.cache/
compile
config.guess
config.h
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
missing
python/cython_debug
fplll/fplll
fplll/fplll_dbg
fplll/latticegen
stamp-h1
/m4/libtool.m4
/m4/ltoptions.m4
/m4/ltsugar.m4
/m4/ltversion.m4
/m4/lt~obsolete.m4
/tests/test_nr
/tests/test_pruner
/compile_commands.json
/.clang-tidy
doc/html/
/fplll/sieve/*.o
/fplll/latsieve
/tests/test_sieve
/fplll-?.?.?/
