sudo: false
language: cpp
      
matrix:
  include:
    - compiler: gcc
      env: COMPILER=g++-4.9
      addons:
        apt:
          sources:
            - ubuntu-toolchain-r-test
          packages:
            - g++-4.9
            - libgmp-dev
            - libmpfr-dev
            - libqd-dev

    - compiler: gcc
      env: COMPILER=g++-5
      addons:
        apt:
          sources:
            - ubuntu-toolchain-r-test
          packages:
            - g++-5.0
            - libgmp-dev
            - libmpfr-dev
            - libqd-dev
    - compiler: clang
      env: COMPILER=clang++
      addons:
        apt:
          packages:
            - libgmp-dev
            - libmpfr-dev
            - libqd-dev

install:
  export CXX="$COMPILER"

before_script:
  - ./autogen.sh

script:
  - ./configure
  - make
  - make check
  - make dist

notifications:
  on_success: change
  on_failure: always
