name: Tests

on: 
  push:
  pull_request:
  schedule:
    - cron: '0 0 * * 0' # weekly

env:
  JOBS: 2
  CONFIGURE_OPTS: --enable-recursive-enum  --with-max-enum-dim=64 --with-max-parallel-enum-dim=64

jobs:
  linux:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        include:
          - configure-options: --enable-recursive-enum  --with-max-enum-dim=64 --with-max-parallel-enum-dim=64
          - configure-options: --enable-recursive-enum  --with-max-enum-dim=64 --with-max-parallel-enum-dim=0
          - configure-options: --disable-recursive-enum --with-max-enum-dim=64 --with-max-parallel-enum-dim=0         
              
    steps:
      - name: Echo Configure Options
        env:
          CONFIGURE_OPTS: ${{ matrix.configure-options }}
        run: echo $CONFIGURE_OPTS
      - name: Check out
        uses: actions/checkout@v2
      - name: Install prerequisites
        run: |
          sudo DEBIAN_FRONTEND=noninteractive apt-get update
          sudo DEBIAN_FRONTEND=noninteractive apt-get install autoconf automake libtool libgmp-dev libmpfr-dev libqd-dev
      - name: Configure
        run: |
          ./autogen.sh
          ./configure --disable-static $CONFIGURE_OPTS
      - name: Compile
        run: make -j $JOBS

      - name: Test
        run: make -j $JOBS check

  macos:
    runs-on: macos-latest

    steps:
      - name: Check out
        uses: actions/checkout@v2
      - name: Install prerequisites
        run: |
          brew update
          brew reinstall gmp
          brew install automake clang-format
          brew upgrade autoconf
      - name: Configure
        run: |
          ./autogen.sh
          ./configure --disable-static $CONFIGURE_OPTS
      - name: Compile
        run: make -j $JOBS

      - name: Test
        run: make -j $JOBS check
